<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../public/css/style.css">
		<title>Happy Snackr</title>
	</head>
	<body>
		<header>
			<h1>Edit: <%= snacking.name %>Snacking Info</h1>
			<nav>
				
						<a href="/">Home</a>
						<ul></ul>
						<a href="/snacking">Snacking Index</a>
					
				
			</nav>
		</header>
		<main>
			<h2>Snack Attributes:</h2>
			<form action="/snacking/<%= snacking._id %>?_method=PUT" method="POST">
				<input type="text" name="name" value="<%=  snacking.name%> " /><br />
				<input type="submit" value="Update Snacking" />
			</form>
		</main>
	</body>
</html>