<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../public/css/style.css">
		<!-- <title>Happy Snackr</title> -->
        <link href="https://fonts.googleapis.com/css2? family=Macondo&family=Poiret+One&family=Rubik+Mono+One&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1>Salty Snack</h1>
			<nav>
				
					<div class="saltypage">
						<a href="/">Home</a>
						<ul></ul>
						<a href="/snacking/new">Create a new Snack</a>
					
					</div>
			</nav>
		</header>
		<main>
			<h2>List of Snacks</h2>
			<ul>
				<% for (let i = 0; i < snacking.length; i++ ) { %>
				
					<a href="/snacking/<%= snacking[i]._id %> "><%= snacking[i].name %> </a>
					<ul></ul>
				<% } %>
			</ul>
		</main>
	</body>
</html>