<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../public/css/style.css">
		<title>Happy Snackr</title>
	</head>
	<body>
		<header>
			<h1>Snacking</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/snacking/new">Create a new Snacking</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h2>List of Snacking</h2>
			<ul>
				<% for (let i = 0; i < snacking.length; i++ ) { %>
				<li>
					<a href="/snacking/<%= snacking[i]._id %> "><%= snacking[i].name %> </a>
				</li>
				<% } %>
			</ul>
		</main>
	</body>
</html>