<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Happy Snackr</title>
	</head>
	<body>
		<header>
			<h1>Show for this <%= snacking.name %></h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/snacking">Snacking Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h2>Snacking Attributes:</h2>
			<ul>
				<li>Name: <%= snacking.name %></li>
			</ul>
			<section>
				<form action="/snacking/<%= snacking._id %>?_method=DELETE" method="POST">
					<input type="submit" value="Delete Snacking" />
				</form>
			</section>
			<section>
				<a href="/snacking/<%= snacking._id %>/edit">Edit</a>
			</section>
		</main>
	</body>
</html>