<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Express Blog</title>
</head>

<body>
    <header>
        <h1>Edit <%= snack.name %>'s Info</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/snack">Snack Index</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Snack Attributes:</h2>
        <form action="/snack/<%= snack._id %>?_method=PUT" method="POST">
            <input type="text" name="name" value="<%= snack.name %>" /><br />
            <input type="submit" value="Update Snack" />
        </form>
    </main>
</body>

</html>