<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../public/css/style.css">
        <link href="https://fonts.googleapis.com/css2? family=Macondo&family=Poiret+One&family=Rubik+Mono+One&display=swap" rel="stylesheet">
		<!-- <title>Happy Snackr</title> -->
	</head>
	<body>
		<header>
			<h1>Sweet Snacks</h1>
			<nav>
				
				<div class="sweetpage">
						<a href="/">Home</a>
					
					
						<a href="/snacks/new">Create a new Snack</a>
					
					</div>
			</nav>
		</header>
		<main>
			List of Snacks
			<ul>
				<% for (let i = 0; i < snacks.length; i++ ) { %>
				
					<a href="/snacks/<%= snacks[i]._id %> "><%= snacks[i].name %> </a>
				
				<% } %>
			</ul>
		</main>
	</body>
</html>
