
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Happy Snackr</title>
</head>

<body>
    <header>
        <h1>Snacks</h1>
        <nav>
            <main>
                <h2>List of Snacks</h2>
                    <ul>
                    <% for(let i = 0; i < Snacks.length; i++){ %>
                    <li>
                    <a href="/snack/<%= Snacks[i]._id %>"><%= Snacks[i].name %></a>
                    </li>
                    <% } %>
                    </ul>
                </main>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/snacks/new">Create a new Snack</a>
                </li>
            </ul>

        </nav>
    </header>
</body>

</html>
