<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Happy Snackr</title>
	</head>
	<body>
		<header>
			<h1>Create an Snack</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/snacks">Snacks Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<form action="/snacks" method="POST">
				<input type="text" name="name" />
				<input type="submit" value="Create Snack" />
			</form>
		</main>
	</body>
</html>