<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Happy Snackr</title>
	</head>
	<body>
		<header>
			<h1>Show for this <%= snack.name %></h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/snacks">Snacks Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h2>Snack Attributes:</h2>
			<ul>
				<li>Name: <%= snack.name %></li>
			</ul>
			<section>
				<form action="/snacks/<%= snack._id %>?_method=DELETE" method="POST">
					<input type="submit" value="Delete Snack" />
				</form>
			</section>
			<section>
				<a href="/snacks/<%= snack._id %>/edit">Edit</a>
			</section>
		</main>
	</body>
</html>